.oncheckout{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    .order{
        width: 49%;
        background-color:  #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 500px;
        .oderitem{
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .lef{
                width: 50%;
                display: flex;
                align-items: flex-start;
                margin-top: 10px;
                span{
                    font-size: 24px;
                }
            }
        }
        h1{
            font-size: 36px;
            font-weight: bold;
        }
        hr{
            width: 90%;
            margin-top: 40px;
        }
    }
    .address{
        width: 49%;
        display: flex;
        background-color: #FFFFFF;
        flex-wrap: wrap;
        justify-content: center;
        .boxinput{
            width: 90%;
            h1{
                font-size: 36px;
                font-weight: bold;
                margin-top: 20px;
            }
            span{
                font-size: 16px;
                width: 100%;
            }
            input{
                border: none;
                border-bottom: 0.5px solid #333333;
                border-radius: 0px;
                font-size: 20px;
                padding: 0;
                margin-bottom: 20px;
            }
        }
        .boxselect{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 10px;
            justify-content: space-between;
            .tileselect{
                width: 100%;
                font-size: 16px;
            }
            .ant-select:not(.ant-select-customize-input) .ant-select-selector {
                border: none;
                border-bottom: 1px solid black;
                border-radius: 0px;
                padding: 0px;
                margin-bottom: 10px;
            }
            .f20{
                font-size: 20px;
            }
            .selectmini{
                width: 49%;
                input{
                    border: none;
                    border-bottom: 0.5px solid #333333;
                    border-radius: 0px;
                    padding: 0;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
           
    }
    .btncheckout{
        width: 49%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
        bottom: -80px;
        button{
            min-width: 48%;
            font-size: 20px;
        }
    }
}